@import 'public_variables', 'public_placeholder', 'public_placeholder', 
'compass/utilities/general/float', 'compass/utilities/general/clearfix',
'compass/css3/flexbox';

.imgs-block {
	@extend %width-height-a;
	border: 1px solid rgba(0,0,0,.1);
	.imgs-list {
		padding: 0 8px 8px 8px;
		@include display-flex;
		@include justify-content(space-between);
		@include flex-wrap(wrap);
	}
	.title {
		font-size: 1.2rem;
		line-height: 40px;
		padding-left: 8px;
		border-bottom: 1px solid rgba(0,0,0,.1);
		color: $focus-color;
	}
	.item-group {
		@extend %height-a;
		.imgs {
			@extend %width-height-a;
		}
		.sm-title {
			padding: 2px;
		}
	}
}

.clear {
	@include legacy-pie-clearfix;
}