@import 'public_placeholder', 'public_variables',
'compass/css3/box-sizing','compass/css3/flexbox';
.mb-group {
	@extend %width;
	height: 120px;
	@include box-sizing(border-box);
	@include display-flex;
	@include justify-content(space-between);
	overflow: hidden;
	border-bottom: 1px solid rgba(0,0,0,.1);

	.left {
		width: 40%;
		height: inherit;
		img {
			@extend %width-height;
		}
	}
	.right {
		width: 58%;
		height: inherit;
		@include box-sizing(border-box);
		@include display-flex;
		@include flex-wrap(wrap);
		@include align-content(space-around);
		p {
			margin: 0;
			color: #444444;
		}
		.title {
			font-size: 1rem;
		}
	}
}