.constellation, .constellation .content .title {
  width: 100%;
}

.constellation, .constellation .content .title img {
  height: auto;
}

.constellation .content .title {
  line-height: 54px;
  text-align: center;
}
.constellation .content .title img {
  width: 4%;
}
.constellation .content .title span {
  font-size: 1.2rem;
  padding-left: 10px;
}
.constellation .content .title .sm {
  font-size: .9rem;
  position: relative;
  top: 3px;
  color: #949494;
}
.constellation .content .card-group {
  margin-top: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
