.data-list-group .left-img img, .data-list-group {
  width: 100%;
}

.data-list-group .left-img img, .data-list-group .left-img {
  height: auto;
}

.data-list-group {
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin-bottom: 5px;
  position: relative;
}
.data-list-group .left-img {
  width: 25%;
}
.data-list-group .details {
  width: 75%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px 10px;
}
.data-list-group .details .span-group {
  position: absolute;
  bottom: -8px;
  color: #656565;
}
.data-list-group .details .span-group .author {
  margin-right: 10px;
}
